<h1 class="text-success", id="article-h1">Create a New Article</h1>

<div class="container-new-post">
<p class="text-center">Think of it like a guestbook. Leave your mark here, footprint or some other type of biometric identifier.</br> Type something for world to see!</p>
</div>

<%= render "form_show_new" %>