<h1>Create a New Article</h1>

<p>Think of it like a guestbook. Leave your mark here, footprint or some other type of biometric identifier.</br> Type something for world to see!</p>

<%= render "form_show_new" %>

  <p>
  <%= link_to "Articles", articles_path %> |
  <%= link_to "About", about_path %> |
  <%= link_to "Home", root_path %>
  </p>