<h1 class="text-center">About page</h1>

<div class="text-center">
    <%= image_tag "happy-dog.jpg", alt: "Logo" %>
</div>

<p class="text-center">
    Im a ha-ppy, happy dog, Im a happy happy happy happy happy dog!
</p>

<p class="text-center">
    <%= link_to "Create", new_article_path %> |
    <%= link_to "Articles", articles_path %> |
    <%= link_to "Home", root_path %>
</p>