<div class="home-jumbo-container">
    <div class="p-3 mb-2 bg-dark-subtle text-primary-emphasis text-center" id="home-bgr">
        <h1 class="display-4">Soongram</h1>
        <p class="lead">What is Soongram about? Its about testing codes, sandbox mode for Rails developers. Dont tell anyone.</p>
        <hr class="my-4">
        <p>This is Rails on Udemy course like no other.</br>
        Primary functionality is Articles page where we can view, add, edit or detete posts.</p>
        <p class="lead">
            <%= link_to "Sign up!", signup_path, class: "btn btn-success" %>
        </p>
    </div>
</div>