.navbar {
    background-color: black !important;
  }

#navbar-logo {
  float: left;
  font-size: 1.5em;
  color: rgb(4, 252, 136);
  letter-spacing: -1px;
  font-weight: bold;
}

.nav-link {
  color:rgb(4, 252, 136) !important;
}

#home-jumbo-container {
  margin-top: 0px;
}

#home-bgr {
  background-image: url("unsplash.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 280px;
}

#navigation-links {
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

#article-h1 {
  margin-bottom: -5px;
}

#card-author {
  font-style: italic;
}

body {
  background-color: rgb(238, 236, 236);
}

#articles-margin {
  margin-bottom: 50px;
}